#tabs{
	float: left;
	width: 700px;
	height: 400px;
	margin-left: 50px; 
    display:inline-block;

}
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}
.tab_links{
    height: 35px;
}

.tab_links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

    .tab_links:after {
        display:block;
        clear:both;
        content:'';
    }

.tab_content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
    height: 400px;
    overflow: scroll;
}
.tab_links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}
.tab_links a:hover {
    background:#a7cce5;
    text-decoration:none;
}
li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

.active {
    position: relative;
    background: white;
}


.a.button{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: blue;
}

.tab li{
    list-style-type: none;
    padding: 5px;
    font-family: Georgia;
    font-size: 15px;

}

 /*PARTIDA EN CURSO*/
 
.total-board {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 130%;
    margin-top: -20px;
    top: 0%;
    bottom: 0%;
    background-color: rgba(111,0,0,0.4);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
}

.match-board {
    z-index: 1000;
    position: absolute;
    bottom: 100px;
    width: 1100px;
    height: 810px;
    top: 50%;
    left: 50%;
    margin-left: -650px;
    margin-top: -350px;
    background-color: rgba(255,255,255,1.0);
    border-radius: 10px;
    box-shadow: 0px 0 8px 8px rgba(0,0,0,0.4);
}
#caja{
    height: 900px;
    width: 1100px;
    overflow: scroll;
}
.match-board #canvas{
    width: 100%;
    height: 100%;
}