#crear_partida{
	float: left;
	width: 130px;
}
#partidas_a_unirse{
	float: left;
	width: 50%;
	height: 300px;
	border-style: solid;
}
#div_crear{
	float: left;
	width: 50%;
	height: 300px;
	border-style: solid;
}

#mi_partida{
	float: left;
	width: 50%;
	height: 300px;
	border-style: solid;
}