.botonimagen1{
  background-image:url(http://findicons.com/files/icons/1886/alien_mind/128/grey_alien.png);
  background-repeat:no-repeat;
  height:420px;
  width:320px;
  background-position:center;
}
.botonimagen2{
  background-image:url(imagen.jpg);
  background-repeat:no-repeat;
  height:420px;
  width:320px;
  background-position:center;
}
.botonimagen3{
  background-image:url(imagen.jpg);
  background-repeat:no-repeat;
  height:420px;
  width:320px;
  background-position:center;
}
.botonimagen4{
  background-image:url(imagen.jpg);
  background-repeat:no-repeat;
  height:420px;
  width:320px;
  background-position:center;

}
.botonimagen5{
  background-image:url(imagen.jpg);
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}