
#foto_perfil{
    float: left;
    height: 100px;
    width: 100px;

}

#info_player{
    float: left;
    height: 100px;
    width: 200px;
}

#puntuacion{
    float: left;
    height: 200px;
    width: 300px;
}

#jugadores{
    float: left;
    height: 200px;
    width: 300px;
}

img.perfil{
   max-width:100%;
   max-height:100%;
}

img.jugadores{
   max-width:5%;
   max-height:5%;
}
