html, body {
    height: 100%;
    width: 1150px;
    
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#header{
	margin-top: 50px;
	width: 1150px;
	height: 70px;
	border-style: solid;
	border-width: 2px;
}

#login{
	float: right;
	width: 150px;
	height: 70px;
}

#logo{
	float: left;
	width: 150px;
	height: 70px;
}
#centro{
	float: left;
	width: 700px;
	height: 70px;
}

.juegos{
	float: left;
	margin-top: 30px;
	width: 40%;
	height: 550px;
	border-width: 2px;
}

.templates{
	margin-top: 30px;
	border-style: solid;
	float: right;
	width: 55%;
	height: 550px;
	border-width: 2px;
}

#games{
	margin-left: 15%;
}


#navigation{
	float: left;
	margin-left: 10%;
	margin-top: 25px;
	height: 60px;
}