body {
    font-family: Verdana,sans-serif;
    font-size: 11px;
    color: #FFF;
}

#chat{
	float: left;
	margin-left: 10%;
	height: 600px;
	width: 550px;
}

#formulario{
	text-align: center;
	border-radius: 15px;
	background: -moz-linear-gradient(#444, #111);
	height: 115px;
	color: #999;
	width: 200px;
	float: left;
}
#mensajes{
	color: #999;
	border-radius: 15px;
    background: -moz-linear-gradient(#444, #111);
	position: relative;
	left: 3px;
	float: left;
	height: 300px;
	width: 200px;
	
}
#message{
	color: black;
}
#emisor{
	text-align: center;
}