<template name="menu">
	<ul id="menu">
    <li><a href="/">Home</a></li>
    <li>
        <a href="/juegos">Juegos</a>
        <ul>
            <li><a href="#">Juego 1</a></li>
            <li><a href="#">Juego 2</a></li>
            <li><a href="#">Juego 3</a></li>
            <li><a href="#">juego 4</a></li>
        </ul>
    </li>
    <li><a href="/ranking">Ranking</a></li>
    <li><a href="#">Perfil de Usuario</a></li>
    <li><a href="/help">Ayuda</a></li>
    <li>{{> loginButtons}}</li>
</ul>
</template>